---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div style="display: table;">
    <div id="myArchive" style="display: table-row">
      <h3 id="latest-posts-to-read" class="archive__subtitle">📰 Latest posts to read</h3>

      {% if paginator %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}
    
      {% assign entries_layout = page.entries_layout | default: 'list' %}
      <div class="entries-{{ entries_layout }}">
        {% for post in posts %}
          {% include archive-single.html type=entries_layout %}
        {% endfor %}
      </div>
    
      {% include paginator.html %}
    </div>

    <div id="content" style="margin-top: 2em; display: table-row">
      {{ content | markdownify }}
    </div>
  </div>

  <div style="display: table;">
    {% include sidebar.html %}

    <div>
      <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
        {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

        {% if page.show_post %}
        <section class="page__content" itemprop="text">
          <div class="archive">
            {% unless page.header.overlay_color or page.header.overlay_image %}
              <h1 id="page-title" class="page__title">{{ page.title }}</h1>
            {% endunless %}

            {% if page.below_header_text %} {{ page.below_header_text }} {% endif %}
          </div>
        </section>
        {% endif %}
      </article>
    </div>
  </div>

  <div>
    <br />
    We build customized products for you, and focusing on these three topics...
    <hr />
    {% include feature_row %}
  </div>

  <div>
    {{ page.content_bottom_html }}
  </div>
</div>
